<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="StartType" value="1" />
    <add key="item0" value="ServerHost=test.evfort.cn;ServerPort=9101;RemotePort=9104; LocalHost=127.0.0.1;LocalPort=3389;ProtocolType=1" />
    <add key="item1" value="ServerHost=test.evfort.cn;ServerPort=9101;RemotePort=9104;LocalHost=192.168.1.125;LocalPort=8666;ProtocolType=2" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
</configuration>